name: pie-homebox

services:
      
  # Main Services
  homebox:
    container_name: ${COMPOSE_PROJECT_NAME}_homebox
    image: ghcr.io/sysadminsmedia/homebox:latest
    restart: unless-stopped
    environment:
    - HBOX_LOG_LEVEL=info
    - HBOX_LOG_FORMAT=text
    - HBOX_WEB_MAX_UPLOAD_SIZE=100
    - HBOX_OPTIONS_TRUST_PROXY=true
    - HBOX_MAILER_HOST=${mail__options__host:-}
    - HBOX_MAILER_PORT=${mail__options__port:-}
    - HBOX_MAILER_USERNAME=${mail__options__auth__user:-}
    - HBOX_MAILER_PASSWORD=${mail__options__auth__pass:-}
    - HBOX_MAILER_FROM=${mail__options__auth__user:-}
    - HBOX_DATABASE_DRIVER=postgres
    - HBOX_DATABASE_HOST=db
    - HBOX_DATABASE_PORT=5432
    - HBOX_DATABASE_USERNAME=${DATABASE_USER:-homebox}
    - HBOX_DATABASE_PASSWORD=${DATABASE_PASSWORD:?DATABASE_PASSWORD environment variable is required}
    - HBOX_DATABASE_DATABASE=${DATABASE_USER:-homebox}
    - HBOX_DATABASE_SSL_MODE=disable
    - HBOX_BARCODE_TOKEN_BARCODESPIDER=${BARCODE_SPIDER_TOKEN:-}
    # Please consider allowing analytics to help us improve Homebox (basic computer information, no personal data)
    - HBOX_OPTIONS_ALLOW_ANALYTICS=false
    # Do not disable before creating primary admin account
    - HBOX_OPTIONS_ALLOW_REGISTRATION=${ALLOW_USER_REG:-true}
    volumes:
      - homebox_data:/data/
    networks:
      - exit
      - proxy
      - internal

  db:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:?DATABASE_PASSWORD environment variable is required}
      POSTGRES_USER: ${DATABASE_USER:-homebox}
      PGUSER: ${DATABASE_USER:-homebox}
      POSTGRES_DB: ${DATABASE_USER:-homebox}
    volumes:
      - db_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "${DATABASE_USER:-homebox}"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    networks:
      - internal

volumes:
  homebox_data:
    name: ${COMPOSE_PROJECT_NAME}_HOMEBOX_DATA_VOL
    labels:
      com.example.description: "(${COMPOSE_PROJECT_NAME}) HomeBox Data volume"
  db_data:
    name: ${COMPOSE_PROJECT_NAME}_DB_DATA_VOL
    labels:
      com.example.description: "(${COMPOSE_PROJECT_NAME}) Database volume"

networks:
  proxy:
    name: CONTAINER_ISO_NET
    external: true
  exit:
    name: CLOUDFLARE_TUNNEL_NET
    external: true
  internal:
    name: ${COMPOSE_PROJECT_NAME}_INTERNAL_NET
    attachable: false
    internal: true