services:
      
  # Main Services
  homey:
    container_name: ${COMPOSE_PROJECT_NAME}_homey
    image: ghcr.io/athombv/homey-shs:latest
    restart: unless-stopped
    environment:
      - PORT_SERVER_HTTP=${PORT_SERVER_HTTP:-4859}
      - PORT_SERVER_HTTPS=${PORT_SERVER_HTTPS:-4860}
      - PORT_SERVER_BRIDGE_V1=${PORT_SERVER_BRIDGE_V1:-4861}
      - PORT_SERVER_BRIDGE_V2=${PORT_SERVER_BRIDGE_V2:-4862}
      - HOMEY_LOCAL_ADDRESS=${HOMEY_LOCAL_ADDRESS:-null}
    volumes:
      - homey_data:/homey/user
    networks:
      exit:
        mac_address: 76:94:5b:d5:a7:b1
      proxy:

volumes:
  homey_data:
    name: ${COMPOSE_PROJECT_NAME}_HOMEY_DATA_VOL
    labels:
      com.example.description: "(${COMPOSE_PROJECT_NAME}) Homey Data volume"

networks:
  proxy:
    name: CONTAINER_ISO_NET
    external: true
  exit:
    name: CLOUDFLARE_TUNNEL_NET
    external: true